header{
    background-color: rgb(152, 214, 255);
    padding-bottom: 1em;
    font-family: Impact;
}
.titulo{
    text-align: center;
    justify-content: center;
}
h1{
    text-decoration: dotted underline;
    font-size: 45px;
}
body.dark{   
    background: #333; 
}
body.dark header{
    background-color: rgb(0, 0, 45);
}
body.dark h1{   
    color:#fff
}
body.dark h2{
    color: #fff;
}
body.dark p{
    color: #fff;
}
body.dark ul{
    color: #fff;
}
body.dark li a{
    color: #fff;
}
.darkModeSwitch{
    background: #113528;
    display:flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.darkModeSwitch span{
    width:30px;
    height:15px;
    line-height:30px;
    display:block;
    color:#fff;
    background: none;
}
.darkModeSwitch::after{
    display:block;
    background: #042d26de;
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top:0;
    left:0;
    right:unset;
    border-radius: 3rem;
    transition: all .5s ease;
    content: "";
}
.darkModeSwitch.active{
    background: #030e2a;
}
.darkModeSwitch.active::after{
    left:unset;
    right:0;
}
.darkModeSwitch:hover{
    background-color: rgb(191, 255, 191);
    cursor: pointer;
}

ul{
    text-align: center;
    list-style: none;
    font-family: 'Times New Roman';
    font-size: large;
    margin-top: 4em;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8em;
    margin-left: 1em;
    margin-right: 1em;
}
